{% extends "main.html" %}
{% load static %}
{% block content %}

<div class="employee-info">
	<div class="employee-image">
		<img id="Photo_employee" src="{% static "images/employee/default" %}" alt="Image not found" class="employee-size">
	</div>
	<div class="employee-data">
		<table class="bordered">
			<thead>
				<tr>
					<th colspan='2'>
						<h2>{{ jsonResponse.Employee }}</h2>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Организация:</td>
					<td>{{ jsonResponse.Organization }} </td>
				</tr>
				<tr>
					<td>Подразделение: </td>
					<td>{{ jsonResponse.Subdivision }}</td>
				</tr>
				<tr>
					<td>Должность: </td>
					<td>{{ jsonResponse.Position }}</td>
				</tr>
				<tr>
					<td>Табельный номер:</td>
					<td>{{ jsonResponse.PersonnelNumber }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

	<h2>Текущие инструктажи</h2>
	<table class="bordered">
		<thead>
			<tr>
				<th>Организация</th>
				<th>Инструктаж</th>
				<th>Дата начало</th>
				<th>Дата окончания</th>
			</tr>
		</thead>
		<tbody>
			{%  for Structure_briefing in jsonResponse.Briefing %}
           		<tr>
					<td>{{ Structure_briefing.Organization }}</td>
					<td>{{ Structure_briefing.Briefing }}</td>
					<td>{{ Structure_briefing.DateStart }}</td>
					<td>{{ Structure_briefing.DateEnd }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>




	<h2>Сертификаты сотрудника</h2>
	<table class="bordered table-cert">
		<thead>
			<tr>
				<th>Сертификат</th>
				<th>Инструктаж</th>
				<th>Дата начало</th>
				<th>Дата окончания</th>
			</tr>
		</thead>
		<tbody>
			{%  for Structure_certificate in jsonResponse.Certificate %}
				<tr>
					<td><span class="Certificate" id="{{Structure_certificate.Certificate_code}}">{{Structure_certificate.Certificate_name }}</span></td>
					<td>{{ Structure_certificate.Briefing}}</td>
					<td>{{ Structure_certificate.Certificate_DateStart}}</td>
					<td>{{ Structure_certificate.Certificate_DateEnd}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock content %}